 .button-img {
    margin-top: 10px;
    border-radius: 5px;
    padding: 1px;
    font-size: 10px;
    background-color: #f2f2f2;
    border: 1px solid black;
}


.image-cube {
    display: flex;
    background-color: white;
    border-radius: 7px;
    border: 2px solid #f2f2f2;
    width: 140px;
    height: 140px;
    padding: 35px;
    align-items: center;
    justify-content: center;
}

.input-img {
    margin-bottom: 20px;
    margin-top: 20px;
}

.img-upload{
    display: flex;
    background-color: #f2f2f2;
    border-radius: 7px;
    border: 2px solid #f2f2f2;
    width: 140px;
    height: 140px;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
    label{ 
        width: 100%; 
        margin-bottom: 0; 
        height: 100%; 
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        & input[type='file'] {display: none;}
        .img-cover {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top:0;
            margin-top: 0;
          }
    }
    
}


.img-upload-box {
    padding: 10px;
    border: 1px solid #f2f2f2;
    border-radius: 7px;
    width: fit-content;
    margin-bottom: 10px;
}