$warning: #F69576;
$success: #37E89E;
$danger: #D91C1F;
$canceled: grey;
$gradient-green: linear-gradient(236.25deg, #D7FDDE 21.05%, #37E89E 84.5%);
$dark-green: #28C794;
$midium-green: #AFFCC5;
$light-green: #EBFEEF
