
@import '../styles/index.scss';
@import '../styles/generic/breakPoints.scss';
#card-custom   {
    background: white;
    box-shadow: 4px 8px 16px rgba(69, 79, 89, 0.1);
    border-radius: 7px;
    display: flex;
    width: 100%;
    height: 100%; 
    overflow: hidden;
    padding: 20px;
    flex-direction: column;
    @include to($breakpoint-sm) {
        padding: 5px;
        box-shadow: none;
    }
}

.cabecalho-container{
    display: flex;
    min-height: 75px;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 5px 0 15px 0;
    .info {
        display: flex;
        align-items: flex-end;
        @include to($breakpoint-md) {
           display: grid;
           grid-template-columns: 1fr;
        }
        .title{
            font-size: 25px;
            font-weight: 500;
            @include to($breakpoint-sm) {
                font-size: 20px;
             }
        }   
        .breadcrumb-custom {
            font-size: 13px;
            color: #858585;
            margin-bottom: 5px;
            margin-left: 15px;
            .highlight {
            color: black;
            font-weight: 500;
            }
        }
    }
    
   
}


.save-span {
    color: #28C794;
}

