@import '../../../../styles/generic/index.scss';

.tracking-block {
    margin-top: 20px;

    .tracking-items {
        align-items: center;
        justify-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            'icon-order icon-pickup icon-payment icon-done'
            'status-tracking status-tracking status-tracking status-tracking'
            'text-order text-pickup text-payment text-done';

        font-size: 11px;
        color: #858585;

        .status-tracking {
            width: 100%;
            display: grid;
            grid-area: status-tracking;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            height: 1px;
            margin: 10px 0;
            grid-template-areas:
            'st-start um dois tres quatro cinco seis st-end';
            .st-start {
                width: 100%;
                height: 1px;
                border-top: 1px solid #ffffff;
                grid-area: st-start;
            }
            .st-end {
                width: 100%;
                height: 1px;
                border-top: 1px solid #ffffff;
                grid-area: st-end;  
            }
            .um {
                width: 100%;
                height: 1px;
                border-top: 1px solid #cccccc;
                grid-area: um;
                &.cell{
                    border-top: 1px solid black;
                }
                
            }
            .dois {
                width: 100%;
                height: 1px;
                border-top: 1px solid #cccccc;
                grid-area: dois;
                &.cell{
                    border-top: 1px solid black;
                }
                
            }
            .tres {
                width: 100%;
                height: 1px;
                border-top: 1px solid #cccccc;
                grid-area: tres;
                &.cell{
                    border-top: 1px solid black;
                }
                
            }
            .quatro {
                width: 100%;
                height: 1px;
                border-top: 1px solid #cccccc;
                grid-area: quatro;
                &.cell{
                    border-top: 1px solid black;
                }
                
            }
            .cinco {
                width: 100%;
                height: 1px;
                border-top: 1px solid #cccccc;
                grid-area: cinco;
                &.cell{
                    border-top: 1px solid black;
                }
                
            }
            .seis {
                width: 100%;
                height: 1px;
                border-top: 1px solid #cccccc;
                grid-area: seis;
                &.cell{
                    border-top: 1px solid black;
                }
                
            }
        }

        .text-order {
            grid-area: text-order;
        }

        .icon-order {
            grid-area: icon-order;
            position: relative;
        }

        .text-pickup {
            grid-area: text-pickup;
        }

        .icon-pickup {
            grid-area: icon-pickup;
            position: relative;
        }

        .text-payment {
            grid-area: text-payment;
        }

        .icon-payment {
            grid-area: icon-payment;
            position: relative;
        }

        .text-done {
            grid-area: text-done;
        }

        .icon-done {
            grid-area: icon-done;
            position: relative;
        }
        .wh {
            grid-area: wh;

        }

        .transp {
            grid-area: transp;

        }

        .custom-progress {
            &:after {
                content: '●';
                font-size: 20px;
                position: absolute;
                bottom: 0;
                color: black;
                margin-bottom: -24px;
                left: calc(50% - 6px)
            }

            &.active {
                path {
                    fill: $success;
                }
            }
        }
    }
}